h2 {
  color: grey;
  font-size: 960pxx;
}

body {
  margin: 0;
  border: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px;
  width: 960px;
  border: 1px solid #cccccc2b;
}

/* .grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.grid-box {
  /* border: 1px solid blue; */
  background-color: lightgray;
}
